* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  background-color: #f8f9fa;
  color: #6c757d;
}
@media (max-width: 480px) {
  body {
    height: 100vh;
    font-size: 14px;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  body {
    height: 100vh;
    font-size: 15px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  body {
    font-size: 16px;
  }
}
@media (min-width: 1025px) {
  body {
    font-size: 17px;
  }
}

header {
  padding: 20px;
  text-align: center;
}
header .icon-head {
  width: 30px;
  height: auto;
  transition: transform 0.3s ease;
}
header .icon-head:hover {
  scale: 2.2;
  transform: rotate(360deg);
}
header span {
  font-size: 23px;
}
header .navbar-toggler {
  border: none;
}
header .navbar-toggler .navbar-toggler-icon {
  width: 30px;
}
@media (max-width: 480px) {
  header {
    padding: 10px;
  }
  header span {
    font-size: 18px;
  }
  header .navbar-toggler-icon {
    width: 25px;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  header {
    padding: 15px;
  }
  header span {
    font-size: 20px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  header {
    padding: 20px;
  }
  header span {
    font-size: 22px;
  }
}
@media (min-width: 1025px) {
  header {
    padding: 25px;
  }
  header span {
    font-size: 24px;
  }
}

main {
  margin: 3%;
  padding: 20px;
}
main .index-background,
main .services-background,
main .about-background,
main .reservations-background,
main .contact-background {
  position: relative;
  background-size: cover;
  clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
  height: 400px;
}
main .index-background .background-img,
main .services-background .background-img,
main .about-background .background-img,
main .reservations-background .background-img,
main .contact-background .background-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
main .index-background .text-overlay,
main .services-background .text-overlay,
main .about-background .text-overlay,
main .reservations-background .text-overlay,
main .contact-background .text-overlay {
  position: absolute;
  color: white;
  text-shadow: 2px 5px 4px rgba(0, 0, 0, 0.692);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
}
main .index-background .text-overlay h1,
main .services-background .text-overlay h1,
main .about-background .text-overlay h1,
main .reservations-background .text-overlay h1,
main .contact-background .text-overlay h1 {
  font-size: 7vw;
}
main .index-background .text-overlay h2,
main .services-background .text-overlay h2,
main .about-background .text-overlay h2,
main .reservations-background .text-overlay h2,
main .contact-background .text-overlay h2 {
  font-size: 4.3vw;
}
main .index-background .text-overlay h3,
main .services-background .text-overlay h3,
main .about-background .text-overlay h3,
main .reservations-background .text-overlay h3,
main .contact-background .text-overlay h3 {
  font-size: 3vw;
}
main .index-background .text-overlay:before,
main .services-background .text-overlay:before,
main .about-background .text-overlay:before,
main .reservations-background .text-overlay:before,
main .contact-background .text-overlay:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
@media (max-width: 480px) {
  main .index-background,
  main .services-background,
  main .about-background,
  main .reservations-background,
  main .contact-background {
    height: 40vh;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  main .index-background,
  main .services-background,
  main .about-background,
  main .reservations-background,
  main .contact-background {
    height: 300px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  main .index-background,
  main .services-background,
  main .about-background,
  main .reservations-background,
  main .contact-background {
    height: 350px;
  }
}
main .card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
main .card-container .post {
  width: calc(100% - 20px);
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}
@media (min-width: 481px) and (max-width: 768px) {
  main .card-container .post {
    width: 90%;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  main .card-container .post {
    width: 48%;
  }
}
@media (min-width: 1025px) {
  main .card-container .post {
    width: 30%;
  }
}
main .card-container .post .icon {
  width: 100%;
  height: 150px;
  border-radius: 5px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-image 0.3s;
}
main .card-group {
  justify-content: space-around;
}
main .card-group h3 {
  text-align: center;
  font-size: 4rem;
  margin-top: 5%;
}
main .ubication h3 {
  text-align: center;
  font-size: 3rem;
}
main .ubication p {
  text-align: center;
  color: #17a2b8;
}
main .ubication .mapa {
  width: 98%;
}

footer {
  background-image: radial-gradient(#343a40, #17a2b8);
  text-align: center;
  color: #ffffff;
  font-size: 1rem;
  padding: 25px;
}
@media (max-width: 480px) {
  footer {
    font-size: 0.7rem;
    padding: 10px;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  footer {
    font-size: 0.8rem;
    padding: 15px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  footer {
    font-size: 0.9rem;
    padding: 20px;
  }
}

/*# sourceMappingURL=styles.css.map */
