* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Variables
$primary-color: #343a40;
$secondary-color: #17a2b8;
$hover-color: #138496;
$background-color: #f8f9fa;
$text-color: #6c757d;
$footer-background: #343a40;
$white: #ffffff;
$light-background: #ffffff;
$card-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
$border-radius: 8px;
$font-family: "Arial", sans-serif;

// Mixins
@mixin background-images {
  position: relative;
  background-size: cover;
  clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
}

@mixin overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

@mixin img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

@mixin text-overlay {
  position: absolute;
  color: white;
  text-shadow: 2px 5px 4px rgba(0, 0, 0, 0.692);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);

}

@mixin section-background {
  @include background-images;

  .background-img {
    @include img;
  }

  .text-overlay {
    @include text-overlay;
    h1{
      font-size: 7vw;
    }
    h2{
      font-size: 4.3vw;
    }
    h3{
      font-size: 3vw;
    }


    &:before {
      content: "";
      @include overlay;
          }
  }
}

// Responsive Mixins
@mixin for-small-screens {
  @media (max-width: 480px) {
    @content;
  }
}

@mixin for-medium-screens {
  @media (min-width: 481px) and (max-width: 768px) {
    @content;
  }
}

@mixin for-large-screens {
  @media (min-width: 769px) and (max-width: 1024px) {
    @content;
  }
}

@mixin for-extra-large-screens {
  @media (min-width: 1025px) {
    @content;
  }
}

// Global Styles
body {
  width: 100%;
  font-family: $font-family;
  line-height: 1.6;
  background-color: $background-color;
  color: $text-color;

  @include for-small-screens {
    height: 100vh;
    font-size: 14px;
  }

  @include for-medium-screens {
    height: 100vh;
    font-size: 15px;
  }

  @include for-large-screens {
    font-size: 16px;
  }

  @include for-extra-large-screens {
    font-size: 17px;
  }
}

// Header
header {
  padding: 20px;
  text-align: center;

  .icon-head {
    width: 30px;
    height: auto;
    transition: transform 0.3s ease;

    &:hover {
      scale: 2.2;
      transform: rotate(360deg);
    }
  }

  span {
    font-size: 23px;
  }

  .navbar-toggler {
    border: none;

    .navbar-toggler-icon {
      width: 30px;
    }
  }

  @include for-small-screens {
    padding: 10px;

    span {
      font-size: 18px;
    }

    .navbar-toggler-icon {
      width: 25px;
    }
  }

  @include for-medium-screens {
    padding: 15px;

    span {
      font-size: 20px;
    }
  }

  @include for-large-screens {
    padding: 20px;

    span {
      font-size: 22px;
    }
  }

  @include for-extra-large-screens {
    padding: 25px;

    span {
      font-size: 24px;
    }
  }
}

// Main Content
main {
  margin: 3%;
  padding: 20px;

  .index-background,
  .services-background,
  .about-background,
  .reservations-background,
  .contact-background {
    @include section-background;
    height: 400px;

    @include for-small-screens {
      height: 40vh;
    }

    @include for-medium-screens {
      height: 300px;
    }

    @include for-large-screens {
      height: 350px;
    }
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

    .post {
      width: calc(100% - 20px);
      background-color: $light-background;
      padding: 1rem;
      border-radius: $border-radius;
      box-shadow: $card-shadow;
      text-align: center;

      @include for-medium-screens {
        width: 90%;
      }

      @include for-large-screens {
        width: 48%;
      }

      @include for-extra-large-screens {
        width: 30%;
      }

      .icon {
        width: 100%;
        height: 150px;
        border-radius: 5px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        transition: background-image 0.3s;
      }
    }
  }
  .card-group {
    justify-content: space-around;
    h3 {
      text-align: center;
      font-size: 4rem;
      margin-top: 5%;
    }
  }
  .ubication {
    h3 {
      text-align: center;
      font-size: 3rem;
    }
    p {
      text-align: center;
      color: $secondary-color;
    }

    .mapa {
      width: 98%;
    }
  }
}

// Footer
footer {
  background-image: radial-gradient($primary-color, $secondary-color);
  text-align: center;
  color: $white;
  font-size: 1rem;
  padding: 25px;

  @include for-small-screens {
    font-size: 0.7rem;
    padding: 10px;
  }

  @include for-medium-screens {
    font-size: 0.8rem;
    padding: 15px;
  }

  @include for-large-screens {
    font-size: 0.9rem;
    padding: 20px;
  }
}
